.NA {
    background: green;
    margin: 30px;
}

.EU {
    background-color: orange;
    margin: 30px;
}
img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div {
    display: inline-block;
}
.CityRow {
    display: flex;
    align-items: stretch;
}
.CityRow > div {
    width: 33.33%;
}

.alone {
    margin-right: auto;
    margin-left: auto;
}